In [1]:
import pandas as pd

In [15]:
df = pd.DataFrame({"name":["cow","goat","cat","tiger","lion"]})

In [16]:
df.head()

    name
0    cow
1   goat
2    cat
3  tiger
4   lion

In [13]:
from sklearn.preprocessing import LabelEncoder

In [7]:
le = LabelEncoder()

In [10]:
df["e_name"] = le.fit_transform(df["name"])

In [14]:
df.head()

    name  e_name
0    cow       1
1   goat       2
2    cat       0
3  tiger       4
4   lion       3