In [1]:
import pandas as pd

In [8]:
dataset = pd.read_csv("Excel_File/bd-dec22-births-deaths-by-region.csv")

In [9]:
dataset.head()

   Period Birth_Death                Region  Count
0    2005      Births      Northland region   2067
1    2005      Births       Auckland region  20745
2    2005      Births        Waikato region   5667
3    2005      Births  Bay of Plenty region   3771
4    2005      Births       Gisborne region    777

In [10]:
dataset.shape

(648, 4)

In [24]:
dataset.isnull().sum()

Period         0
Birth_Death    0
Region         0
Count          0
dtype: int64

In [23]:
dataset["Birth_Death"].fillna(dataset["Birth_Death"].mode()[0], inplace = True)

In [27]:
en_data = dataset[["Birth_Death"]]
en_data

    Birth_Death
0        Births
1        Births
2        Births
3        Births
4        Births
..          ...
643      Deaths
644      Deaths
645      Deaths
646      Deaths
647      Deaths

[648 rows x 1 columns]

In [28]:
from sklearn.preprocessing import OneHotEncoder

In [38]:
ohe = OneHotEncoder(drop="first")
arr = ohe.fit_transform(en_data).toarray()

In [40]:
pd.DataFrame(arr, columns = ["Birth_Date"])

     Birth_Date
0           0.0
1           0.0
2           0.0
3           0.0
4           0.0
..          ...
643         1.0
644         1.0
645         1.0
646         1.0
647         1.0

[648 rows x 1 columns]